 h1 { 
  font-family: 'Square Peg';
  font-size: 48px; 
  font-style: normal; 
  color: red;
  text-align: center;
}

p {
  font-family: Verdana;
  color: blue;
  height: 80px;
  width: 300px;
  border: 3px solid coral;

}

.maintext {
  color: white;
  font-weight: thin;
  
