.gradient {
  height: 50px;
  background-image: linear-gradient(#ff8a00, #e52e71);
}

h1 { 
  font-family: 'Square Peg';
  font-size: 64px; 
  font-style: normal; 
  color: red;
  text-align: center;
}

p {
  font-family: 'Lucida Console';
  color: aqua;

  
.parallax {
  /* The image used */
  background-image: url("/images/gingerkitten.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
