div.gradient {
  height: 1000px;
  background-color: #C0C0C0;
  background-image: linear-gradient(#C0C0C0, #696969);
}

h1 { 
  font-family: 'Square Peg';
  font-size: 64px; 
  font-style: normal; 
  color: red;
  text-align: center;
}

p {
  font-family: 'Lucida Console';
  color: aqua;
